<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    {% if post.date %}
        {% assign mes_index = post.date | date: "%-m" | minus: 1 %}
        {% assign mes = site.data.spanish.meses[mes_index] %}
        <time datetime="{{ post.date }}" class="catalogue-time">{{ mes | capitalize }} {{ post.date | date: "%-d" }}, {{ post.date | date: "%Y" }}</time>
    {% endif %}
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
