---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Escrito por</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
        {% assign mes_index = page.date | date: "%-m" | minus: 1 %}
        {% assign mes = site.data.spanish.meses[mes_index] %}
    
        <span>el&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%-d" }} de {{ mes }} del {{ page.date | date: "%Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Subir</a>
</div>